.d-flex.align-items-center .me-3 {
    margin-right: 5px; 
}
.text-danger {
    font-weight: bold; 
    color: red; 
}
.text-black {
    color: #000 !important;
}
.icon-margin-left {
    margin-left: 5px; 
}
  