<div class="modal-header">
  <h4 class="modal-title">Xác nhận</h4>
  <button type="button" class="close" aria-label="Close" (click)="confirm(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
      <div class="col-3" *ngIf="message != 'Xác nhận hành động này' && show">Ý kiến:</div>
      <div class="col">
        <div [innerText]="message"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" *ngIf="attachmentFilePath != ''">
      <div class="col-3">Tệp đính kèm</div>
      <div class="col">
        <a href="{{ attachmentFilePath }}" download>Tải tệp ý kiến đính kèm</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirm(true)">OK</button>
  <button type="button" class="btn btn-secondary" (click)="confirm(false)">Hủy</button>
</div>
