<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_ESBConnectionString"
      connectionString="Data Source=VN-PF2MEV3B\\MSSQLSERVER01;Initial Catalog=QLTTrUAT;Integrated Security=True;TrustServerCertificate=True" />
  </connectionStrings>
  <appSettings>
    <add key="Endpoint" value="https://ltvb.phutho.gov.vn"/>
    <add key="Protocol" value="HTTPS"/>
    <add key="maxConnection" value="1"/>
    <add key="maxErrorRetry" value="0"/>
    <add key="Name" value="SDKXRoad"/>
    <add key="StorePathDir" value="C:/XroadSdk/000.00.37.A44"/>
    <add key="writelog" value="true"/>
    <add key="HmacAlgorithm" value="HMACSHA256"/>
    <add key="SystemId" value="000.00.37.A44"/>
    <add key="SecretKey" value="AzBx865wBMDbb7aDmx9/5sPeNyqSg/Mm89v7Ih1wFasG"/>
    <add key="maxEdXmlSize" value="52428800"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
<!--
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_ESBConnectionString" connectionString="Data Source=10.126.60.35;Initial Catalog=QLVB.ESB;uid=qlvanban;password=admin@1234" providerName="System.Data.SqlClient"/>
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_CASConnectionString2" connectionString="Data Source=10.126.60.35;Initial Catalog=QLVB.CAS;uid=qlvanban;password=admin@1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Endpoint" value="https://ltvb.phutho.gov.vn"/>
    <add key="Protocol" value="HTTPS"/>
    <add key="maxConnection" value="1"/>
    <add key="maxErrorRetry" value="0"/>
    <add key="Name" value="SDKXRoad"/>
    <add key="StorePathDir" value="C:/XroadSdk"/>
    <add key="writelog" value="true"/>
    <add key="HmacAlgorithm" value="HMACSHA256"/>
    <add key="SystemId" value="999.99.99.A44"/>
    <add key="SecretKey" value="A523QeunRUm/y9UFRupnAtYXWgnx27JlsOLYV4k1MU3/"/>
    <add key="maxEdXmlSize" value="52428800"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_ESBConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLVB.ESB;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_CASConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLVB.CAS;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Endpoint" value="http://ltvb.phutho.gov.vn"/>
    <add key="Protocol" value="HTTP"/>
    <add key="maxConnection" value="1"/>
    <add key="maxErrorRetry" value="0"/>
    <add key="Name" value="SDKXRoad"/>
    <add key="StorePathDir" value="E:/XroadSdk"/>
    <add key="writelog" value="true"/>
    <add key="HmacAlgorithm" value="HMACSHA256"/>
    <add key="SystemId" value="000.00.01.A44"/>
    <add key="SecretKey" value="A8fBMUchSHzmxsFGmU0DLIByUaDINLSqcz5SVYNMlWJP"/>
    <add key="maxEdXmlSize" value="52428800"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>-->
<!--<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_ESBConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLVB.ESB;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="LgspXRoadSdk.Properties.Settings.QLVB_CASConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLVB.CAS;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Endpoint" value="https://ltvb.phutho.gov.vn"/>
    <add key="Protocol" value="HTTPS"/>
    <add key="maxConnection" value="1"/>
    <add key="maxErrorRetry" value="0"/>
    <add key="Name" value="SDKXRoad"/>
    <add key="StorePathDir" value="E:/XroadSdk"/>
    <add key="writelog" value="true"/>
    <add key="HmacAlgorithm" value="HMACSHA256"/>
    <add key="SystemId" value="02.44.W00"/>
    <add key="SecretKey" value="A7WQPouzNe7209nYzq3nQ/g5V7UmpEs86VUsugcps5v7"/>
    <add key="maxEdXmlSize" value="52428800"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>-->
