<div class="modal-header">
  <h4 class="modal-title">Chi tiết nhóm</h4>
  <button type="button" class="close" aria-label="Close" (click)="confirm(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Tên nhóm*</label>
        <input class="form-control text" [(ngModel)]="model.groupName" />
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <div class="form-group">
        <div class="w-100">
          <label>Hoạt Động</label>
          <mat-checkbox class="example-margin" [(ngModel)]="model.isActive"></mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <div class="form-group">
        <div class="w-100">
          <label>Là nhóm SMS</label>
          <mat-checkbox class="example-margin" [(ngModel)]="model.isSMS"></mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <label> Danh sách cán bộ</label>
      <input
        [(ngModel)]="searchAllUser"
        class="form-control mb-2 text w-100"
        placeholder="Vui lòng nhập tên cán bộ để tìm kiếm."
      />

      <div class="user-list">
        <div class="content">
          <div class="user-item" *ngFor="let item of [] | filterUser: listAllUser : searchAllUser">
            <div class="user-name">
              <div>{{ item.userFullName }}</div>

              <i class="fa fa-plus-circle icon-move" (click)="addUser(item)" aria-hidden="true"></i>
            </div>
            <div class="user-role">{{ item.roleDescription }}</div>
          </div>
        </div>
        <div class="footer d-flex" *ngIf="listAllUser.length">
          <span class="total-users font-weight-bold text-primary py-2 px-4">
            <i class="fa fa-users"></i> Tổng số: {{ listAllUser.length }} cán bộ
          </span>
          <span class="ml-auto py-2 px-4" (click)="addAllUser()">
            Chọn tất cả
            <i class="fa fa-plus-circle icon-move" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label> Danh sách cán bộ được chọn</label>
      <input
        [(ngModel)]="searchSelectedUser"
        class="form-control mb-2 text w-100"
        placeholder="Vui lòng nhập tên cán bộ để tìm kiếm."
      />
      <div class="user-list">
        <div class="content">
          <div
            class="user-item"
            *ngFor="let item of [] | filterUser: listSelectedUser : searchSelectedUser"
          >
            <div class="user-name">
              <div>{{ item.userFullName }}</div>

              <i
                class="fa fa-minus-circle icon-move"
                (click)="removeUser(item)"
                aria-hidden="true"
              ></i>
            </div>
            <div class="user-role">{{ item.roleDescription }}</div>
          </div>
        </div>
        <div class="footer d-flex" *ngIf="listSelectedUser.length">
          <span class="total-users font-weight-bold text-primary py-2 px-4">
            <i class="fa fa-users"></i> Tổng số: {{ listSelectedUser.length }} cán bộ
          </span>
          <span class="ml-auto py-2 px-4" (click)="removeAllUser()">
            Xoá tất cả
            <i class="fa fa-minus-circle icon-move" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSave()">OK</button>
  <button type="button" class="btn btn-secondary" (click)="confirm(false)">Hủy</button>
</div>
