<!--footer-->
<div class="footer-wrap" style="background: url(assets/vieclamlaocai/img/bg-overlay.png) center; background-size: cover;">

  <div class="bg-blend-wrap">
    <img src="assets/vieclamlaocai/img/bg.png" alt="">
  </div>

  <div class="container position-relative">

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-5 text-sm-start">
        <div class="footer-title">Thông tin</div>
        <a routerLink="/website/employers" class="footer-item">Đăng tin tuyển dụng</a>
        <a routerLink="/website/find-candidates" class="footer-item">Tìm ứng viên</a>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 mb-5 text-sm-start">
        <div class="footer-title">Dành cho Ứng viên</div>
        <a routerLink="/website/jobs" class="footer-item">Tìm việc làm</a>
        <a routerLink="/website/resume" class="footer-item">Tạo CV</a>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 mb-5 text-sm-start">
        <div class="footer-title">Dành cho Doanh nghiệp</div>
        <a routerLink="/website/employers" class="footer-item">Đăng tin tuyển dụng</a>
        <a routerLink="/website/find-candidates" class="footer-item">Tìm ứng viên</a>
      </div>

      <div class="col-12 col-sm-6 col-lg-3 mb-5 text-sm-start">
        <div class="footer-title">Hồ sơ & Công cụ</div>
        <a routerLink="/website/resume" class="footer-item">Tạo CV</a>
        <a href="#" class="footer-item">Khám phá lương</a>
      </div>

    </div>

    <br>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-7 mb-5">
        <div class="footer-logo-wrap">
          <a routerLink="/website/home" class="nav-logo">
            <img src="assets/vieclamlaocai/img/logo.png" alt="" width="120px">
          </a>
        </div>

        <ul>
          <li>Công ty TNHH Eyeplus Online</li>
          <li>Địa chỉ:Số 81, ngõ 68, đường Cầu Giấy, Tổ 05, Phường Quan Hoa, Quận Cầu Giấy, TP Hà Nội, Việt Nam</li>
          <li>SĐT: 0981 448 766</li>
          <li>Email:hotro@timviec.com.vn</li>
        </ul>
      </div>

      <div class="col-12 d-sm-none d-lg-block col-lg-1"></div>

      <div class="col-12 col-sm-6 col-lg-4 mb-5">
        <div class="footer-logo-wrap">
          <a href="#">
            <img src="assets/vieclamlaocai/img/image 8.png" alt="">
          </a>
          <a href="#">
            <img src="assets/vieclamlaocai/img/image 10.png" alt="">
          </a>
        </div>

        <p>Giấy phép hoạt động dịch vụ việc làm số 54/2019/SLĐTBXH-GP do Sở lao động thương binh và xã hội cấp ngày 30
          tháng 12 năm 2019.</p>
      </div>

    </div>

  </div>
</div>
